<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Flask React</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div class="container">
      <p><a href="{{ url_for('register') }}" class="button">Register</a></p>
      <p><a href="{{ url_for('login') }}" class="btn btn-primary">Login</a></p>
      <h1>Flask React</h1>
      <br>
      <div id="content"></div>
    </div>
  </body>
</html>
