.menu li:not(:first-child) {
  border-left: 0.1rem solid grey;
}

.menu li a{
  line-height: 1.9;
}

.top-bar {
  padding: 0;
  padding-left: 1rem;
}

.menu-active {
  background-color: grey;
  color: white;
}